In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('black_friday.csv', header = None)
df

            0
0        8370
1       15200
2        1422
3        1057
4        7969
5       15227
6       19215
7       15854
8       15686
9        7871
10       5254
11       3957
12       6073
13      15665
14       5378
15       2079
16      13055
17       8851
18      11788
19      19614
20       8584
21       9872
22       9743
23       5982
24      11927
25      16662
26       5887
27       6973
28       5391
29      16352
...       ...
537547  11543
537548  20924
537549  13082
537550  11658
537551   6863
537552  16415
537553  18526
537554   7099
537555    578
537556   2183
537557  12724
537558   7796
537559   7770
537560   5940
537561   7834
537562  11508
537563   6074
537564   7084
537565   7934
537566   5350
537567   1994
537568   5930
537569   7042
537570  15491
537571  11852
537572  11664
537573  19196
537574   8043
537575   7172
537576   6875

[537577 rows x 1 columns]

In [4]:
df.describe()

                   0
count  537577.000000
mean     9333.859853
std      4981.022133
min       185.000000
25%      5866.000000
50%      8062.000000
75%     12073.000000
max     23961.000000

In [ ]:
df.plot(kind='bar')